<!DOCTYPE html>
<html>

<head>
  <title>Update Contact</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <div class="text-center">
        <img src="/public/imgs/osf.png" class="img-responsive" />
      </div>
      <h1>Update Contact</h1>
      <h3><a class="btn btn-primary" href="/contacts">Contacts List</a></h3>
      <form action="/contacts/<%=contact._id%>/update" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" placeholder="Digite seu nome" value="<%=contact.name%>">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" placeholder="Digite seu email" value="<%=contact.email%>">
          <small class="form-text text-muted">Digite um email válido</small>
        </div>

        <div class="form-group">
          <label for="email">Gender</label>
          <select name="gender" class="form-control">
            <option value="<%=contact.gender%>">
              <%=contact.gender%>
            </option>
            <option value="male">Male</option>
            <option value="female">Famele</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="email">Phone</label>
          <input type="text" name="phone" class="form-control" placeholder="Digite seu phone" value="<%=contact.phone%>">
        </div>


        <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>